In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("spark_session1").getOrCreate()

In [4]:
df_emp = spark.read.option("nullValue","null").csv("emp.csv",header=True, inferSchema=True)
df_emp.show()

+-----+------+---------+----+----------+----+----+------+-------------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|       UPDATED_DATE|
+-----+------+---------+----+----------+----+----+------+-------------------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|null|    20|2022-01-01 00:00:00|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|2022-01-01 00:00:00|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|2022-01-01 00:00:00|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|2022-01-05 00:00:00|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|1400|    30|2022-01-03 00:00:00|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|null|    30|2022-01-04 00:00:00|
| 7782|  RAVI|  MANAGER|7839|06-09-1981|2450|null|    10|2022-01-02 00:00:00|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|null|    20|2022-01-02 00:00:00|
| 7839|  KING|PRESIDENT|null|01-11-1981|5000|null|    10|2022-01-02 00:00:00|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|   0|    30|2022-01-02 00:00:00|
| 7876| ADAMS|    CLERK|7788|23-05-1987|1100|null|    20|2022-01-03 00:00:00|
| 7900| JAMES|    CLERK|7698|12-03-1981| 950|null|    30|2022-01-03 00:00:00|
| 7902|  FORD|  ANALYST|7566|12-03-1981|3000|null|    20|2022-01-03 00:00:00|
| 7934|MILLER|    CLERK|7782|01-03-1982|1300|null|    10|2022-01-03 00:00:00|
| 1234|SEKHAR|   doctor|7777|      null| 667|  78|    80|2022-01-03 00:00:00|
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|null|    20|2022-01-04 00:00:00|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|2022-01-04 00:00:00|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|2022-01-04 00:00:00|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|2022-01-04 00:00:00|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|1400|    30|2022-01-05 00:00:00|
+-----+------+---------+----+----------+----+----+------+-------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import to_date

#Change string to Date DataType

df_emp = df_emp.withColumn("HIREDATE",to_date("HIREDATE","dd-MM-yyyy")).fillna({"HIREDATE":'9999-12-31'})
df_emp.show()

+-----+------+---------+----+----------+----+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+----+------+------------+
| 7369| SMITH|    CLERK|7902|1980-12-17| 800|null|    20|  2022-01-01|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600| 300|    30|  2022-01-01|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250| 500|    30|  2022-01-01|
| 7566| JONES|  MANAGER|7839|1981-02-04|2975|null|    20|  2022-01-05|
| 7654|MARTIN| SALESMAN|7698|1981-09-21|1250|1400|    30|  2022-01-03|
| 7698|   SGR|  MANAGER|7839|1981-01-05|2850|null|    30|  2022-01-04|
| 7782|  RAVI|  MANAGER|7839|1981-09-06|2450|null|    10|  2022-01-02|
| 7788| SCOTT|  ANALYST|7566|1987-04-19|3000|null|    20|  2022-01-02|
| 7839|  KING|PRESIDENT|null|1981-11-01|5000|null|    10|  2022-01-02|
| 7844|TURNER| SALESMAN|7698|1981-08-09|1500|   0|    30|  2022-01-02|
| 7876| ADAMS|    CLERK|7788|1987-05-23|1100|null|    20|  2022-01-03|
| 7900| JAMES|    CLERK|7698|1981-03-12| 950|null|    30|  2022-01-03|
| 7902|  FORD|  ANALYST|7566|1981-03-12|3000|null|    20|  2022-01-03|
| 7934|MILLER|    CLERK|7782|1982-03-01|1300|null|    10|  2022-01-03|
| 1234|SEKHAR|   doctor|7777|9999-12-31| 667|  78|    80|  2022-01-03|
| 7369| SMITH|    CLERK|7902|1980-12-17| 800|null|    20|  2022-01-04|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600| 300|    30|  2022-01-04|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250| 500|    30|  2022-01-04|
| 7566| JONES|  MANAGER|7839|1981-02-04|2975|null|    20|  2022-01-04|
| 7654|MARTIN| SALESMAN|7698|1981-09-21|1250|1400|    30|  2022-01-05|
+-----+------+---------+----+----------+----+----+------+------------+
only showing top 20 rows

In [5]:
from pyspark.sql.functions import date_format
#creating two YEAR and Month new column based on year
df_emp = df_emp.withColumn("YEAR",date_format("HIREDATE","yyyy")).withColumn("MONTH",date_format("HIREDATE","MM"))
df_emp.show()

+-----+------+---------+----+----------+----+----+------+-------------------+----+-----+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|       UPDATED_DATE|YEAR|MONTH|
+-----+------+---------+----+----------+----+----+------+-------------------+----+-----+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|null|    20|2022-01-01 00:00:00|null| null|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|2022-01-01 00:00:00|null| null|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|2022-01-01 00:00:00|null| null|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|2022-01-05 00:00:00|null| null|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|1400|    30|2022-01-03 00:00:00|null| null|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|null|    30|2022-01-04 00:00:00|null| null|
| 7782|  RAVI|  MANAGER|7839|06-09-1981|2450|null|    10|2022-01-02 00:00:00|null| null|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|null|    20|2022-01-02 00:00:00|null| null|
| 7839|  KING|PRESIDENT|null|01-11-1981|5000|null|    10|2022-01-02 00:00:00|null| null|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|   0|    30|2022-01-02 00:00:00|null| null|
| 7876| ADAMS|    CLERK|7788|23-05-1987|1100|null|    20|2022-01-03 00:00:00|null| null|
| 7900| JAMES|    CLERK|7698|12-03-1981| 950|null|    30|2022-01-03 00:00:00|null| null|
| 7902|  FORD|  ANALYST|7566|12-03-1981|3000|null|    20|2022-01-03 00:00:00|null| null|
| 7934|MILLER|    CLERK|7782|01-03-1982|1300|null|    10|2022-01-03 00:00:00|null| null|
| 1234|SEKHAR|   doctor|7777|      null| 667|  78|    80|2022-01-03 00:00:00|null| null|
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|null|    20|2022-01-04 00:00:00|null| null|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|2022-01-04 00:00:00|null| null|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|2022-01-04 00:00:00|null| null|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|2022-01-04 00:00:00|null| null|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|1400|    30|2022-01-05 00:00:00|null| null|
+-----+------+---------+----+----------+----+----+------+-------------------+----+-----+
only showing top 20 rows

In [7]:
#using partitionBY with two columns creating partitions
# df_emp.write.format("delta").partitionBy("YEAR","MONTH").mode("overwrite").saveAsTable("emp_part")

In [ ]:
%fs ls /user/hive/warehouse/emp_part/

path,name,size,modificationTime
dbfs:/user/hive/warehouse/emp_part/YEAR=1980/,YEAR=1980/,0,1677125612000
dbfs:/user/hive/warehouse/emp_part/YEAR=1981/,YEAR=1981/,0,1677125615000
dbfs:/user/hive/warehouse/emp_part/YEAR=1982/,YEAR=1982/,0,1677125616000
dbfs:/user/hive/warehouse/emp_part/YEAR=1987/,YEAR=1987/,0,1677125616000
dbfs:/user/hive/warehouse/emp_part/YEAR=9999/,YEAR=9999/,0,1677125617000
dbfs:/user/hive/warehouse/emp_part/_delta_log/,_delta_log/,0,1677125625000

In [ ]:
%sql
select * from emp_part

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,UPDATED_DATE,YEAR,MONTH
7499,ALLEN,SALESMAN,7698,1981-02-20,1600,300,30,2022-01-01,1981,02
7521,WARD,SALESMAN,7698,1981-02-22,1250,500,30,2022-01-01,1981,02
7566,JONES,MANAGER,7839,1981-02-04,2975,null,20,2022-01-05,1981,02
7499,ALLEN,SALESMAN,7698,1981-02-20,1600,300,30,2022-01-04,1981,02
7521,WARD,SALESMAN,7698,1981-02-22,1250,500,30,2022-01-04,1981,02
7566,JONES,MANAGER,7839,1981-02-04,2975,null,20,2022-01-04,1981,02
7654,MARTIN,SALESMAN,7698,1981-09-21,1250,1400,30,2022-01-03,1981,09
7782,RAVI,MANAGER,7839,1981-09-06,2450,null,10,2022-01-02,1981,09
7654,MARTIN,SALESMAN,7698,1981-09-21,1250,1400,30,2022-01-05,1981,09
7782,RAVI,MANAGER,7839,1981-09-06,2450,null,10,2022-01-05,1981,09
7844,TURNER,SALESMAN,7698,1981-08-09,1500,0,30,2022-01-02,1981,08
7844,TURNER,SALESMAN,7698,1981-08-09,1500,0,30,2022-01-06,1981,08
7900,JAMES,CLERK,7698,1981-03-12,950,null,30,2022-01-03,1981,03
7902,FORD,ANALYST,7566,1981-03-12,3000,null,20,2022-01-03,1981,03
7900,JAMES,CLERK,7698,1981-03-12,950,null,30,2022-01-07,1981,03
7902,FORD,ANALYST,7566,1981-03-12,3000,null,20,2022-01-07,1981,03
7788,SCOTT,ANALYST,7566,1987-04-19,3000,null,20,2022-01-02,1987,04
7788,SCOTT,ANALYST,7566,1987-04-19,3000,null,20,2022-01-06,1987,04
7934,MILLER,CLERK,7782,1982-03-01,1300,null,10,2022-01-03,1982,03
7934,MILLER,CLERK,7782,1982-03-01,1300,null,10,2022-01-07,1982,03
7698,SGR,MANAGER,7839,1981-01-05,2850,null,30,2022-01-04,1981,01
7698,SGR,MANAGER,7839,1981-01-05,2850,null,30,2022-01-05,1981,01
7369,SMITH,CLERK,7902,1980-12-17,800,null,20,2022-01-01,1980,12
7369,SMITH,CLERK,7902,1980-12-17,800,null,20,2022-01-04,1980,12
7876,ADAMS,CLERK,7788,1987-05-23,1100,null,20,2022-01-03,1987,05
7876,ADAMS,CLERK,7788,1987-05-23,1100,null,20,2022-01-06,1987,05
7839,KING,PRESIDENT,null,1981-11-01,5000,null,10,2022-01-02,1981,11
7839,KING,PRESIDENT,null,1981-11-01,5000,null,10,2022-01-06,1981,11
1234,SEKHAR,doctor,7777,9999-12-31,667,78,80,2022-01-03,9999,12
1234,RAM,CLERK,7457,9999-12-31,494,588,80,2022-01-07,9999,12
null,null,null,null,9999-12-31,null,null,null,null,9999,12
null,null,null,null,9999-12-31,null,null,null,null,9999,12
null,null,null,null,9999-12-31,null,null,null,null,9999,12

In [ ]:
%sql
select YEAR,MONTH,sum(cast(SAL as Float)) as salary
from emp_part
group by 1,2
order by 1,2

YEAR,MONTH,salary
1980,12,1600.0
1981,01,5700.0
1981,02,11650.0
1981,03,7900.0
1981,08,3000.0
1981,09,7400.0
1981,11,10000.0
1982,03,2600.0
1987,04,6000.0
1987,05,2200.0
9999,12,1161.0

#Test