In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise').getOrCreate()

In [31]:
spark.stop()

### Handoling missing values

In [2]:
spark

In [2]:
df_pyspark = spark.read.csv('test1.csv',header=True,inferSchema=True)

In [6]:
df_pyspark.show()

+-------+----+----------+-------+
|   Name| Age|Experience|Sallary|
+-------+----+----------+-------+
| Roshan|  27|         3| 200000|
|   Test|  26|         1|  12000|
|  sfsfk|  33|         3|  43000|
|sdfsfsd|   4|         4|  33333|
|   Test|null|      null|   3333|
|   null|   4|         4|   null|
| Trettt|null|      null|   null|
+-------+----+----------+-------+

In [7]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Sallary: integer (nullable = true)

In [8]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+-----------------+
|summary|  Name|               Age|       Experience|          Sallary|
+-------+------+------------------+-----------------+-----------------+
|  count|     6|                 5|                5|                5|
|   mean|  null|              18.8|              3.0|          58333.2|
| stddev|  null|13.773162309360913|1.224744871391589|80779.61789152013|
|    min|Roshan|                 4|                1|             3333|
|    max| sfsfk|                33|                4|           200000|
+-------+------+------------------+-----------------+-----------------+

In [9]:
##Dropping rows with null values. na
df_pyspark.na.drop().show()

+-------+---+----------+-------+
|   Name|Age|Experience|Sallary|
+-------+---+----------+-------+
| Roshan| 27|         3| 200000|
|   Test| 26|         1|  12000|
|  sfsfk| 33|         3|  43000|
|sdfsfsd|  4|         4|  33333|
+-------+---+----------+-------+

In [11]:
## any() will drop rows with any null values how = all will drop rows with all null values
df_pyspark.na.drop(how='all').show()

+-------+----+----------+-------+
|   Name| Age|Experience|Sallary|
+-------+----+----------+-------+
| Roshan|  27|         3| 200000|
|   Test|  26|         1|  12000|
|  sfsfk|  33|         3|  43000|
|sdfsfsd|   4|         4|  33333|
|   Test|null|      null|   3333|
|   null|   4|         4|   null|
| Trettt|null|      null|   null|
+-------+----+----------+-------+

In [12]:
#how = any will drop rows with any null values
df_pyspark.na.drop(how='any').show()

+-------+---+----------+-------+
|   Name|Age|Experience|Sallary|
+-------+---+----------+-------+
| Roshan| 27|         3| 200000|
|   Test| 26|         1|  12000|
|  sfsfk| 33|         3|  43000|
|sdfsfsd|  4|         4|  33333|
+-------+---+----------+-------+

In [17]:
##thresh = 2 will drop rows with 2 or more null values
df_pyspark.na.drop(how ='any', thresh=2).show()

+-------+----+----------+-------+
|   Name| Age|Experience|Sallary|
+-------+----+----------+-------+
| Roshan|  27|         3| 200000|
|   Test|  26|         1|  12000|
|  sfsfk|  33|         3|  43000|
|sdfsfsd|   4|         4|  33333|
|   Test|null|      null|   3333|
|   null|   4|         4|   null|
+-------+----+----------+-------+

In [25]:
# subset=['Experience']  will drop rows with null values in the specified columns
df_pyspark.na.drop(subset=['Experience']).show()

+-------+---+----------+-------+
|   Name|Age|Experience|Sallary|
+-------+---+----------+-------+
| Roshan| 27|         3| 200000|
|   Test| 26|         1|  12000|
|  sfsfk| 33|         3|  43000|
|sdfsfsd|  4|         4|  33333|
|   null|  4|         4|   null|
+-------+---+----------+-------+

In [40]:
#Filling missing values
df_pyspark.na.fill('0').show()

+-------+----+----------+-------+
|   Name| Age|Experience|Sallary|
+-------+----+----------+-------+
| Roshan|  27|         3| 200000|
|   Test|  26|         1|  12000|
|  sfsfk|  33|         3|  43000|
|sdfsfsd|   4|         4|  33333|
|   Test|null|      null|   3333|
|      0|   4|         4|   null|
| Trettt|null|      null|   null|
+-------+----+----------+-------+

In [38]:
df_pyspark.show()

+-------+----+----------+-------+
|   Name| Age|Experience|Sallary|
+-------+----+----------+-------+
| Roshan|  27|         3| 200000|
|   Test|  26|         1|  12000|
|  sfsfk|  33|         3|  43000|
|sdfsfsd|   4|         4|  33333|
|   Test|null|      null|   3333|
|   null|   4|         4|   null|
| Trettt|null|      null|   null|
+-------+----+----------+-------+

In [34]:
# from pyspark.sql.functions import when

# for col in df_pyspark.columns:
#     df_pyspark = df_pyspark.withColumn(col, when(df_pyspark[col].isNull(), 'Missing').otherwise(df_pyspark[col]))

In [3]:
df_pyspark.show()

+-------+----+----------+-------+
|   Name| Age|Experience|Sallary|
+-------+----+----------+-------+
| Roshan|  27|         3|  20000|
|   Test|  26|         1|  12000|
|  sfsfk|  33|         3|  43000|
|sdfsfsd|   4|         4|  33333|
|   Test|null|      null|   3333|
|   null|   4|         4|   null|
| Trettt|null|      null|   null|
+-------+----+----------+-------+

In [4]:
# imputing missing values
from pyspark.ml.feature import Imputer

imputer = Imputer(inputCols=['Age','Experience','Sallary'], outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Sallary']]).setStrategy("mean")

In [5]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+-------+-----------+------------------+---------------+
|   Name| Age|Experience|Sallary|Age_imputed|Experience_imputed|Sallary_imputed|
+-------+----+----------+-------+-----------+------------------+---------------+
| Roshan|  27|         3|  20000|         27|                 3|          20000|
|   Test|  26|         1|  12000|         26|                 1|          12000|
|  sfsfk|  33|         3|  43000|         33|                 3|          43000|
|sdfsfsd|   4|         4|  33333|          4|                 4|          33333|
|   Test|null|      null|   3333|         18|                 3|           3333|
|   null|   4|         4|   null|          4|                 4|          22333|
| Trettt|null|      null|   null|         18|                 3|          22333|
+-------+----+----------+-------+-----------+------------------+---------------+

### Pyspark Dataframe Filter Operation
*  &, |, ==
* ~

In [6]:
df_pyspark.show()

+-------+----+----------+-------+
|   Name| Age|Experience|Sallary|
+-------+----+----------+-------+
| Roshan|  27|         3|  20000|
|   Test|  26|         1|  12000|
|  sfsfk|  33|         3|  43000|
|sdfsfsd|   4|         4|  33333|
|   Test|null|      null|   3333|
|   null|   4|         4|   null|
| Trettt|null|      null|   null|
+-------+----+----------+-------+

In [7]:
df_pyspark.filter(df_pyspark['Age'] > 30).show()

+-----+---+----------+-------+
| Name|Age|Experience|Sallary|
+-----+---+----------+-------+
|sfsfk| 33|         3|  43000|
+-----+---+----------+-------+

In [9]:
df_pyspark.filter(df_pyspark['Sallary'] >10000).show()

+-------+---+----------+-------+
|   Name|Age|Experience|Sallary|
+-------+---+----------+-------+
| Roshan| 27|         3|  20000|
|   Test| 26|         1|  12000|
|  sfsfk| 33|         3|  43000|
|sdfsfsd|  4|         4|  33333|
+-------+---+----------+-------+

In [11]:
df_pyspark.filter(df_pyspark['Sallary']>10000).select(['Name','Sallary']).show()

+-------+-------+
|   Name|Sallary|
+-------+-------+
| Roshan|  20000|
|   Test|  12000|
|  sfsfk|  43000|
|sdfsfsd|  33333|
+-------+-------+

### Pyspark Dataframe GroupBy and Aggregation Operation

In [12]:
df_pyspark.groupBy('Age').count().show()

+----+-----+
| Age|count|
+----+-----+
|  27|    1|
|  26|    1|
|null|    2|
|   4|    2|
|  33|    1|
+----+-----+

In [26]:
df_pyspark.groupBy('Experience').sum('Sallary').show()

+----------+------------+
|Experience|sum(Sallary)|
+----------+------------+
|      null|        3333|
|         1|       12000|
|         3|       63000|
|         4|       33333|
+----------+------------+

In [27]:
df_pyspark.agg({'Sallary':'max'}).show()

+------------+
|max(Sallary)|
+------------+
|       43000|
+------------+

In [29]:
df_pyspark.agg({'Sallary':'sum'}).show()

+------------+
|sum(Sallary)|
+------------+
|      111666|
+------------+